.nav{
    background: #eee;
    height: 30px;
    line-height: 30px;
}

/* 用户部分 */
.nav .user{
    float:left;
}
.nav .user.login{ /* 中间没有空格，表示同一个元素，class里既有user也有login的 */
    display: none;
}
.nav .user .link{
    margin-right: 5px;
}

/* 导航链接部分 */
.nav .nav-list{
    float: right;
}
.nav .nav-list .nav-item{
    display: inline-block;
    margin-left: 5px;
}
